.pique-panel {
    min-height: 30vh;
}

.pique-panel-background {
    opacity: 1;
}

.site-branding .site-title {
    font-size: 2.5em;
}

footer.site-footer {
    background-image: none !important;
    background-color: teal;
}

/* Öppettider */

.pique-panel.post-96 {
    min-height: auto;
    background-color: #77c043;
}

.pique-panel.post-96 .pique-panel-content {
    padding: 0;
}

.pique-panel.post-96 header {
    display: none;
}

.pique-panel.post-96 .entry-content {
    margin: 0 auto;
}

.pique-panel.post-96 .entry-content p {
    margin: 0;
    padding: 20px;
    text-align: center;
    color: #eee;
}

.pique-panel.post-96 footer {
    float: left;
}

.pique-panel.post-96 .edit-link {
    bottom: auto;
    left: inherit;
    position: inherit;
    z-index: 1;
}

/* Obutton */
.obutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: block;
}


.obutton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}