/* Login page
 ========================================================================== */
 body.login {
    background-color: #373737;
  }
  
 .login h1 a {
    background-image: url(logo.png);
  }
  
.login #nav a {
    color: #999;
}
